{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Careers</title>
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.max.css' %}">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/career.css' %}">

<style>
  
</style>

</head>

<body>
  <div class="container-fluid bg-light position-relative shadow">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand font-weight-bold text-secondary" style="font-size: 35px">
          <img src="{% static 'img/logo.jpeg' %}" alt="" srcset="" class="logo">
          <span class="text-info">Divine</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav font-weight-bold mx-auto py-0">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'facilities' %}">Facilities</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'testimonial' %}">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'events' %}">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'careers' %}">Careers</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!--Carrer page-->
  <div class="bgt">
    <div class="container-fluid pt-5">
      <h1 class="heading">Careers</h1>
      <div class="apply-box">
        <h1>Job Application </h1>
        <hr>
        <form action="">
          <div class="form-container">
            <div class="control-group">
              <label for="first-name">First Name</label><br>
              <input type="text" class="form-control" id="first-name" placeholder="First Name" required="required" data-validation-required-message="Please enter First name"/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <label for="last-name">Last Name</label><br>
              <input type="text" class="form-control" id="last-name" placeholder="Last Name" required="required" data-validation-required-message="Please enter Last name"/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <label for="email">Email</label><br>
              <input type="email" class="form-control" id="email" placeholder="Email" required="required" data-validation-required-message="Please enter Email"/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <label for="moblie">Moblie Number</label><br>
              <input type="tel" class="form-control" id= "moblie" placeholder="Moblie Number" required="required" data-validation-required-message="Please enter Moblie Number"/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="textarea-control">
              <label for="address">Address</label>
              <textarea name="address" id="address" cols="50" rows="4" placeholder="Enter Address"></textarea>
            </div>
            <div class="control-group">
              <label for="city">City</label><br>
              <input type="text"  class="form-control" id="city" name="city" placeholder="Enter City">
            </div>
            <div class="control-group">
              <label for="Pincode">Pincode</label><br>
              <input type="number"  class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode">
            </div>
            <div class="control-group row">
              <label for="upload">Upload Your CV</label><br>
              <input type="file"  class="form-control" id="upload" name="upload" />
            </div>
          </div>
          <div class="button-container">
            <button type="submit">Apply Now</button>
          </div>
        </form>

      </div>
    </div>
  </div>
<!--Carrer page-->
 <!-- Footer Start -->
 <footer class="footer-distributed  p-5">

  <div class="footer-left">
    <h3>Divine<span> Public School</span></h3>
    <br>
    <p class="footer-company-about">
      <span>About the company</span>
      <strong>Divine Public School</strong> is a Hub of creative mind where you can train your mind towords creativity
      and skill .
    </p>
    <br>
    <p class="footer-links link">
      <a href="{% url 'home' %}">Home</a>
      |
      <a href="{% url 'about' %}">About</a>
      |
      <a href="{% url 'contact' %}">Contact</a>
      |
      <a href="{% url 'gallery' %}">Gallery</a>
    </p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Indore</span>
        Madhya Pradesh</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 74**9**258</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
    </div>

  </div>
  <div class="footer-right">
    <h2 class="follow">Follow Us</h2>
    <div class="wrapper">
      <div class="icon facebook">
        <div class="tooltip">
          Facebook
        </div>
        <span><i class="fab fa-facebook-f"></i></span>
      </div>
      <div class="icon twitter">
        <div class="tooltip">
          Twitter
        </div>
        <span><i class="fab fa-twitter"></i></span>
      </div>
      <div class="icon instagram">
        <div class="tooltip">
          Instagram
        </div>
        <span><i class="fab fa-instagram"></i></span>
      </div>
      <div class="icon google">
        <div class="tooltip">Google</div>
        <span><i class="fab fa-google"></i></span>
      </div>

    </div>

  </div>
  <p class="footer-company-name">Copyright © 2021 <strong>Divine Public School</strong> All rights reserved</p>
</footer>
<br>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-info p-3 back-to-top float-left"><i class="fa fa-angle-double-up"></i></a>
<div class="sticky-container">
  <ul class="sticky">
    <li class="twitter">
      <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px"
        href="#">
        <i class="fab fa-twitter"></i></a>
    </li>
    <li class="insta">
      <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0 " style="width: 40px; height: 40px"
        href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="linkd">
      <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px"
        href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="facebook">
      <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px"
        href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
  </ul>
</div>
</body>

</html>